*{
	padding: 3px;
	margin: 5px;
}
.centrado {
	width: 1000px;
	margin: 0px auto;
	box-shadow: 
}

h1{
	/* para cualquier comentario*/
	color: #ff000;
	font-size: 200px;
	text-align: center;
	font-family: Arial;
	text-shadow: 15px 15px 15px #00f;
}
img{
	height: 300px
	border: solid 1px #000;
	border-radius: 50px 50px 50px 50px;
	box-shadow: 20px 25px 20px #ccc;
}